extends layouts/login-layout.pug

block content
    .loginContainer
        h1 Register 
        form#registerForm(method="post", onsubmit="event.preventDefault(); checkPassword();")
            p.errorMessage #{error}
          
            input(type="text", name="firstName", placeholder="First Name", required="" value=firstName)
            input(type="text", name="lastName", placeholder="Last name", required="" value=lastName)
            input(type="email", name="email", placeholder="E-mail", required="" value=email)
            input(type="text", name="username", placeholder="Username", required="" value=username)
            input#password(type="password", name="password", placeholder="Password", required="" value=password)
            input#passwordConf(type="password", name="passwordConf", placeholder="Confirm Password", required="" value=passwordConf)
            input(type="submit", value="Register")





        a(href="/login") Already have an account? Login here.
    
    script.
        let passwordField = document.getElementById('password');
        let passwordConfField = document.getElementById('passwordConf');

        let form = document.getElementById('registerForm');

        const checkPassword = () => {
            if (passwordField.value !== passwordConfField.value) {
                alert('Passwords do not match');
            } else {
               form.submit();
            }

        }

        